*.class

# Package Files #
*.jar
*.war
*.ear

*.pydevproject
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
doc/

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath